@mixin pc-dialog {
  .pc-dialog {
    @include dialog-mask;
    @include animation-fade-in;
    @include animation-zoom-in;
    animation: animation-fade-in .12s ease-in forwards;

    .dialog-main-body {
      background: #fff;
      padding: 15px;
      animation: animation-zoom-in .12s ease-in forwards;

      .dialog-header {
        font-size: 18px;
        color: #303133;
        margin-bottom: 15px;

        .close {
          @include tap;
          float: right;
        }
      }
    }
  }
}
