@import "reset";
@import url("//at.alicdn.com/t/font_576822_h067fvow5oc7hkt9.css");
/* 浮动开始 */
.fl, .pull-left{
  float: left;
}
.fr, .pull-right{
  float: right;
}
.clearfix::before, .clearfix::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {clear: both;zoom: 1;}
/* 浮动结束 */
.display-none {  display: none;  }
.display-block {  display: block;  }

.main-body {
  max-width: 1232px;
  margin: 30px auto 0;
}

.br15 {
  margin-right: 15px;
}
.br10 {
  margin-right: 10px;
}

