@import "reset";
// webco icons
@import url("//at.alicdn.com/t/font_567957_nb3fsnth8ln5ewmi.css");
// zezeping icons
@import url("//at.alicdn.com/t/font_576822_qylnchnm9wgynwmi.css");
/* 浮动开始 */
.fl, .pull-left{
  float: left;
}
.fr, .pull-right{
  float: right;
}
.clearfix::before, .clearfix::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {clear: both;zoom: 1;}
/* 浮动结束 */
.display-none {  display: none;  }
.display-block {  display: block;  }

.main-body {
  max-width: 1232px;
  margin: 15px auto 0;
}

.pointer {
  cursor: pointer;
}

.br15 {
  margin-right: 15px;
}
.br10 {
  margin-right: 10px;
}

.bg-white {
  background: #fff;
}

.iconfont {
  color: #999;
  &.active {
    color: #3a8ee6;
  }
}

